<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="color-scheme" content="light dark">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>A Super Loja</title>
  <link rel="icon" href="/imgs/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap">
  <link rel="stylesheet" href="/css/estilos.css">
  <link rel="stylesheet" href="/css/menu-principal.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body id="loja">
    {{> header}}
  <main>
    {{{body}}}
  </main>

    <script src="js/menu.js" charset="utf-8"></script>
    
    {{> foooter}}

</body>

</html>
