<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pagina Query</h1>
    <br>
    {{#if allUsers}}
    <ul>
        {{#each allUsers}}
            <li>{{usr_name}}</li>
            <li>{{usr_email}}</li>
            <li>{{usr_password}}</li>
            <li>{{usr_uname}}</li>
        {{/each}}
    </ul>
    {{/if}}
</body>
</html>