

.text-library{
    color: var(--text-color);
}

#library-body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
    min-width: 500px;
    margin: 0;    
}


#container {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "header header"
        "sidebar main";
        /* "create-list main"; */
}

header {
    grid-area: header;
    box-shadow: 1px 1px 1px 1px rgb(184, 184, 184);
    display: flex;
    justify-content: space-between;
    /* background-color: #FFFFD1; */
}

header a {
    color: var(--outside-bar-color);
    font-size: 18px;
    text-decoration-style: none;
}

header button:hover {
    box-shadow: 3px 3px 7px rgb(78, 70, 88);
    transform: translate(-1px, -1px);
}
header button:visited {
    background-color:#463b5d;
}

header a.active {
    color: black;
    font-weight: 5s00;
}

nav h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    color: var(--title-color);
    font-size: 35px;
    font-weight: bolder;
    padding: 10px 0;
}

nav img {
    margin-right: 30px;
}

nav ul {
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0%;
}

nav li {
    display: inline-block;
}

nav a {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-weight: bolder;
    padding-right: 80px;
}

nav a:hover {
    color: black;  
    text-decoration: none;
    font-weight: bolder;
}

aside {
    grid-area: sidebar;
    /* background-color: #ACE7FF; */
    text-align: left;
    padding: 20px;
}

aside div {
    display: flex;
    flex-direction: column; 
}

main {
    /* background-color: #AFF8D8; */
    grid-area: main;
    min-height: var(--page-min-height);
}

main a, aside a {
    color: var(--link-color);
    text-decoration: none;
}

main a:hover, aside a:hover {
    text-decoration: underline;
}


#games-table {
    /* background-color: #f8aff2; */
    margin: 50px;
    width: 90%;
    /* table-layout: fixed; */
    /* border-spacing: 13px;
    border-collapse: separate; */

}

#games-table tr {
    border-bottom: 1px solid rgba(199, 193, 193, 0.199);
}

#games-table td {
    text-align: top;
    margin: 10px;
}

#games-table img {
    display: block;
    width: 80px;
    height: 120px;
    object-fit: cover;
}

.logo {
    display: flex;
    align-items: flex-start;
    padding: 0 10px;
    margin-left: 50px;
}

.bg-img {
    position: absolute;
    right: 0%;
    top: 0;
    z-index: -2;
    height: 70%;
    transform: translate(0, 0);
}

.btn-sing-in {
    padding: 0 15px;
    align-self: center;
    background-color: var(--button-color);
    border: 10px solid var(--button-color);
    border-radius: 30px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    
}

#btn-collapse {
    background-color: var(--outside-bar-color);
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
/* *{
    margin: 0;
    padding: 0;
} */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#pop-up-gamelist{
    grid-area: sidebar;
    background-color: #b2b6d321;
    margin-top: 20px;
    padding: 10px;
    /* display: flex; */

}

#gamelist-create-btn {
    text-align: center;
    border: 2px solid var(--outside-bar-color);
    margin-top: 10px;
    width: 100%;
    
}

#gamelist-input-name {
    border-bottom: 2px solid var(--outside-bar-color);
}
