
.container {
    /* display: flex;
    gap: 1em; */
    height: 100%;
    display: grid;
    grid-template-rows: 300px 1fr;
}
.text-perfil{
    color: var(--text-color);
}
.perfil-usuario{
    justify-content: center;
    padding-top: 50px;
    display: flex;
    gap: 1em;
}
 .feed h3{
     display: flex;
     justify-content: center;
     color: rgba(120, 54, 206, 0.5);
 }

.btn:hover{
    box-shadow: 3px 3px 7px rgb(78, 70, 88);
    transform: translate(-1px, -1px);
}
.dados button{
    padding: 0 15px;
    align-self: center;
    background-color: var(--title-color);
    border: 10px solid var(--title-color);
    border-radius: 30px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
}

.feed div{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 250px;
    border-radius: 40px;
    background-color:rgba(120, 54, 206, 0.103);
}

#foto-perfil{
    border-radius: 50%;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}
.feed{
    grid-row: 2/3;
}

#balao {
    visibility: hidden;
    border: 1px solid silver;
    background-color: rgba(255, 255, 255, .9);
    font-size: 10px;
    padding: 0.5em 1em;
    border-radius: 4px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .3);
    pointer-events: none;
  }

  #balaozinho:empty {
    display: none;
  }