<header>
  <img src="/imgs/logo.png" alt="Logomarca" id="logo">
  <nav id="menu-principal">
    <ul>
      <li><a href="/"> Inicial </a></li>
      <li><a href="/perfil">Perfil</a></li>
      <li>Todos os Produtos</li>
      <li>Sobre a Loja</li>
    </ul>
  </nav>
</header>